table
{
    border-collapse: collapse; /* commentaire Les bordures du tableau sont collées */
}
td
{
    border: thick double grey
}
th{
    border: thick double grey
}
caption
{
    font-weight: bold;
}